@page "/Calendar"
@inject NavigationManager navigationManager

<div class="banner"></div>

<section>
    <div class="head-wrapper">
        <h2 class="mb-3">Events</h2>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for an event">
          <button class="btn btn-outline-secondary" type="button" @onclick="() => FilterEvents()">Search</button>
        </div>
    </div>
    @if (_events != null)
    {
        <div class="scrollable">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th class="text-end" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                @foreach (EventDto eventDto in _events)
                {
                    <EventList Event="eventDto" EventInfo="() => ShowEventInfo(eventDto)"/>
                }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <p>No events found.</p>
    }
</section>


@code {
    private IEnumerable<EventDto> _events;
    private string test = "";

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetEventsAsync();
    }

    private void ShowEventInfo(EventDto eventDto)
    {
        navigationManager.NavigateTo($"/EventDetail/{eventDto.Id}");
    }

    private void SortEventsByDate()
    {
        _events.OrderBy(x => x.EventInfo.EventDate);
    }
    
    //TODO
    private void FilterEvents()
    {
        
    }

}