@page "/Calendar"
<div class="page">

    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <div class="page-background">

        <section>
            <h3 class="mb-4">Events</h3>
            <div class="my-2 font-italic">
                June
            </div>

            @if (_events != null)
            {
                @foreach (EventDto item in _events)
                {
                    <EventList Event="item" />
                }
            }
            else
            {
                <p>No events found.</p>
            }

            <div class="my-2 font-italic">
                July
            </div>
        </section>
    </div>
</div>

@code {
    private IEnumerable<EventDto> _events;

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetEventsAsync();

    }
}