@page "/Calendar"
@inject NavigationManager navigationManager

<div class="page-background">
    <section>
        <h2 class="mb-3">Events</h2>
        @if (_events != null)
        {
            <div class="scrollable">
                @foreach (EventDto eventDto in _events)
                {
                    <EventList Event="eventDto" EventInfo="() => ShowEventInfo(eventDto)" />
                }
            </div>
                }
                else
                {
                <p>No events found.</p>
                }

            </section>
</div>

@code {
    private IEnumerable<EventDto> _events;
    private string test = "";

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetEventsAsync();
        
    }

    private void ShowEventInfo(EventDto eventDto)
    {

        navigationManager.NavigateTo($"/EventDetail/{eventDto.Id}");
    }

    private void SortEventsByDate()
    {
        _events.OrderBy(x => x.EventInfo.EventDate);
    }


}