@page "/Calendar"
<div class="page-background">
    <section>
        <h3 class="">Events</h3>
        @foreach (EventDto item in _events)
        {
            <EventList Event="item" />
        }
    </section>
</div>

@code {
    private IEnumerable<EventDto> _events;

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetEventsFromAPIAsync();

    }
}