@page "/Calendar"
@inject NavigationManager navigationManager

<div class="page-background">
    <section>
        <h3 class="">Events</h3>
        @if (_events != null)
        {
            @foreach (EventDto eventDto in _events)
            {
                <EventList Event="eventDto" EventInfo="() => ShowEventInfo(eventDto)" />
            }
        }
        else
        {
            <p>No events found.</p>
        }

        <p>
            @test
        </p>

    </section>
</div>

@code {
    private IEnumerable<EventDto> _events;
    private string test = "";

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetEventsAsync();

    }

    private void ShowEventInfo(EventDto eventDto)
    {
        test = eventDto.EventInfo.Name;
        navigationManager.NavigateTo($"/EventDetail/{eventDto.Id}");
    }


}