.banner {
    text-align: center;
    height: 10rem;
    background-repeat: repeat-x;
    background-position: center;
    background-size: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.banner2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 2px 2px #000000;
    font-weight: bold;
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-bottom: 0;
    margin: auto;
    text-align: center;
    height: 9rem;
    vertical-align: bottom;
}

h3 {
    position: relative;
    top: 9rem;
    ;
}

.event-date{
    color: cornflowerblue;
}

section {
    margin: 150px auto;
    width: 90vw;
    background: rgba(0,0,0,.4);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 20px;
    color: white;
    max-height: 75vh;
    overflow: hidden;
    border-radius: 5px;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-date-line {
    border-bottom: 1px dashed #2b2b2b;
    padding-bottom: 10px;
}

.btn {
    width: 150px;
    margin: 5px;
}