@page "/EventDetail/{Id:int}"
@inject IEventService _service
@if (Event != null)
{
    <div class="">
        <div class="banner" style="background-image: url(@Event.EventInfo.BannerImgUrl)">
            <h3>@Event.EventInfo.Name</h3>
        </div>
        
        
    </div>
}
else
{
    <p>No Event found</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    public EventDto Event { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Event = await _service.GetEventByIdAsync(Id);
    }

}
