@page "/"
@using YES.Shared
@inject HttpClient Http


<div class="page-background">
    <section>
        <h3 class="">Spotlight</h3>
        @foreach (EventDTO item in _spotlights)
        {
            <EventList Event="item" />
        }
    </section>
</div>          



@code {
    private IEnumerable<EventDTO> _spotlights;

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _spotlights = _service.GetEventSpotlights();
    }

}