@page "/"
@inject HttpClient Http

<main>
    <section>alo</section>
</main>

@code {
    //private IEnumerable<Event> _event;

     // protected override async Task OnInitializedAsync()
     // {
     //     try
     //     {
     //         //_event = await Http.GetFromJsonAsync<Event>("");
     //     }
     //     catch (Exception e)
     //     {
     //         Console.WriteLine(e);
     //         throw;
     //     }
     //
     // }

}