@page "/"
@using YES.Shared
@inject HttpClient Http

<div class="page-background">
    <section>
        @foreach (EventDTO item in _events)
        {
            <EventList Event="item" />
        }
    </section>
</div>          



@code {
    private ICollection<EventDTO> _events;


    protected override async Task OnInitializedAsync()
    {
        //try
        //{
        //    _events = await Http.GetFromJsonAsync<ICollection<EventDTO>>("Event");
        //}
        //catch (Exception e)
        //{
        //    Console.WriteLine(e);
        //    throw;
        //}

        _events = new List<EventDTO>
        {
            new (){Name = "Tomorrowland"},
            new (){Name = "Werchter"},
            new (){Name = "Pukkelpop"},
            new (){Name = "10 om te zien aan de kust"},
            

        };

    }

}