@page "/"
@using YES.Shared

<div class="page-background">
    <section>
        <h3 class="mb-4">Spotlight</h3>
        <div class="row card-row">
            @if (_spotlights != null)
            {
                @foreach (EventDto item in _spotlights)
                {
                    if (item != null)
                    {
                    <SpotLightCard Event="item" />
                    }
                }
            }
        </div>
    </section>
</div>          



@code {
    private IEnumerable<EventDto> _spotlights { get; set; }

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _spotlights = await _service.GetEventSpotlightsAsync();
    }

}