@page "/"
@using YES.Shared
@inject HttpClient Http

<div class="page-background">
    <section>
        @foreach (EventDTO item in _events)
        {
            <EventList Event="item" />
        }
    </section>
</div>          



@code {
    private ICollection<EventDTO> _events;

    [Inject]
    private IEventService _service { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _events = _service.GetEvents();

    }

}