@page "/login"

<div class="page-bg">
    <section>
        <h3>Log In</h3>
        <form >
            <div>
                <input class="form-control mt-1" placeholder="Email" type="email" @bind="LoginInfo.Email"/>
            </div>
            <div>
                <input class="form-control mt-1" placeholder="Password" type="password" @bind="LoginInfo.Password"/>
            </div>
            <button class="btn btn-outline-success mt-1" type="button" @onclick="LogIn">Log In</button>
        </form>

        <div>
            No account yet? Register <a href="">here</a>.
        </div>

        

        <hr />
        <div class="mt-5">
            Currently logged in user is: @LoginTest
        </div>
        <div>
            <button @onclick="GetCurrentLoggedInUser">
                Get User
            </button>
        </div>
           
        @if (Customer != null)
        {
            <div>
                Currently logged in user from backend is: @Customer.Email
            </div>
        }
        

    </section>
</div>


@code {
    public string LoginTest { get; set; }

    private UserTokenDto Customer { get; set; }

    public LoginDto LoginInfo { get; set; }

    [Inject]
    private IAccountService _accountService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LoginInfo = new();
        Customer = _accountService.GetLoggedInUser();
    }

    private  void LogIn()
    {
        _accountService.LogIn(LoginInfo);

        LoginTest = LoginInfo.Email + " " + LoginInfo.Password;
    }

    private void GetCurrentLoggedInUser()
    {
        Customer = _accountService.GetLoggedInUser();
    }

}
