@page "/register"
@using YES.Shared.Enums
@inject IAccountService _accountService
@inject NavigationManager navigationManager;


<div class="page-bg">
    <section>
        <h3>Register</h3>
        <form>
            <div class="row">
                <div class="col">
                    <input class="form-control mt-1" placeholder="First Name" type="email" @bind="RegisterInfo.FirstName" />
                </div>
                <div class="col">
                    <input class="form-control mt-1" placeholder="Last Name" type="email" @bind="RegisterInfo.LastName" />
                </div>
            </div>
            <div>
                <input class="form-control mt-1" placeholder="Email" type="email" @bind="RegisterInfo.Email" />
            </div>
            <div>
                <input class="form-control mt-1" placeholder="Password" type="password" @bind="RegisterInfo.Password" />
            </div>
            <button class="btn btn-outline-success mt-1" @onclick="RegisterUser" type="button">Register</button>
        </form>

        @if (RegisterSuccessful)
        {
            <div class="alert alert-success">
                @ResponseMessage
            </div>
        }


    </section>
</div>


@code {

    private RegisterDto RegisterInfo { get; set; }
    private string ConfirmPassword { get; set; }

    public bool RegisterSuccessful { get; set; }
    public string ResponseMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RegisterSuccessful = false;
        RegisterInfo = new();
    }

    private async Task RegisterUser()
    {
        RegisterInfo.Role = Roles.TicketCustomer;
        var response = await _accountService.RegisterUser(RegisterInfo);

        if (response.IsSuccessStatusCode)
        {
            RegisterSuccessful = true;
            ResponseMessage = await response.Content.ReadAsStringAsync();
        }
        //TODO MORE RESPONSE MESSAGES
    }

}
