.page-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    background-image: url("images/page-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

section {
    min-width: 40vw;
    max-width: 90vw;
    background: rgba(0,0,0,.8);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 20px;
    color: white;
    /*max-height: 75vh;*/
    overflow: hidden;
    border-radius: 5px;
}


.btn-addremove {
    height: 50px;
    width: 50px;
}



