.page-bg {
    background-image: url("images/page-bg9.jpg");
}

.ticket-overview-header {
    color: peachpuff;
    cursor: pointer;
}


.ticket-item {
    font-size: 0.75rem;
    min-height: 1.5rem;    
}



