

<EditForm Model="Customer" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div>
        <label class="row">
            <div class="col-xl-2">
                Name:
            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.FirstName" Label="First Name"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.FirstName" /></span>
            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.LastName"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.LastName" /></span>
            </div>            
        </label>
    </div>
    <div>
        <label class="row">
            <div class="col-xl-2">
                Contact:
            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.PhoneNumber"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.PhoneNumber" /></span>

            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Email"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Email" /></span>
            </div>
        </label>    
    </div>
    <div>
        <label class="row">
            <div class="col-xl-2">
                Bank Account:

            </div>
            <div class="col-xl-10">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.BankAccount" placeholder="ex. BE70 5560 1278 7078"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.BankAccount" /></span>
            </div>            
        </label>        
    </div>
    <div>
        <label class="row">
            <div class="col-xl-2">
                Address:
            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Address.Street"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Address.Street" /></span>
            </div>
            <div class="col-xl-5">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Address.StreetNumber"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Address.StreetNumber" /></span>
            </div>
        </label>
        
    </div>
    <div>
        <label class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-3">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Address.PostalCode"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Address.PostalCode" /></span>
            </div>
            <div class="col-xl-3">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Address.City"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Address.City" /></span>
            </div>
            <div class="col-xl-4">
                <InputText class="form-control text-white bg-dark" @bind-Value="Customer.Address.Country"></InputText>
                <span class="error-message"><ValidationMessage For="() => Customer.Address.Country" /></span>
            </div>
        </label>

    </div>
    <div>
        <button type="submit" class="btn btn-outline-warning">Save</button>
    </div>


</EditForm>


@code {
    [Parameter]
    public CustomerWithTicketsDto Customer { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }
    
}
