

<EditForm Model="Customer" OnValidSubmit="OnSubmit">
    @*<DataAnnotationsValidator />*@
    <ObjectGraphDataAnnotationsValidator />

    <div class="row">
        <div class="col-xl-2 v-align">
            Name:
        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.FirstName" placeholder="First Name"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.FirstName" /></span>
        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.LastName" placeholder="Last Name"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.LastName" /></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2">
            Contact:
        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.PhoneNumber" placeholder="Phone Number"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.PhoneNumber" /></span>

        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Email" placeholder="ex. 0499887766"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Email" /></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2">
            Bank Account:

        </div>
        <div class="col-xl-10">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.BankAccount" placeholder="ex. BE70 5560 1278 7078"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.BankAccount" /></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2">
            Address:
        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Address.Street" placeholder="Street"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Address.Street" /></span>
        </div>
        <div class="col-xl-5">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Address.StreetNumber" placeholder="House Number"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Address.StreetNumber" /></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2">
        </div>
        <div class="col-xl-3">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Address.PostalCode" placeholder="Postal Code"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Address.PostalCode" /></span>
        </div>
        <div class="col-xl-3">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Address.City" placeholder="City"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Address.City" /></span>
        </div>
        <div class="col-xl-4">
            <InputText class="form-control text-white bg-dark mb-2" @bind-Value="Customer.Address.Country" placeholder="Country"></InputText>
            <span class="error-message"><ValidationMessage For="() => Customer.Address.Country" /></span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-warning mt-2">Save</button>

</EditForm>


@code {
    [Parameter]
    public CustomerWithTicketsDto Customer { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }
    
}
