       
       <div class="row list-item align-middle" @onclick="() => EventInfo.InvokeAsync(Event)">
           <div class="col-12 col-sm-2 col-md-2 col-lg-1">
               @if (Event.EventInfo.EventDate > DateTime.MinValue)
               {
                   @Event.EventInfo.EventDate.ToString("dd-MM-yyyy");
               }
               else
               {
                   @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@tba
               }
           </div>
           <div class="col-12 col-sm-8 col-md-8 col-lg-10">
               @Event.EventInfo.Name
           </div>
           <div class="col-12 col-sm-2 col-md-2 col-lg-1">
               @if (@Event.Status != "Default")
               {
                   <span class="text-warning float-end">@Event.Status</span>
               }
           </div>
       </div>
       

@code {
        [Parameter]
        public EventDto Event { get; set; }
        [Parameter]
        public EventCallback<EventDto> EventInfo { get; set; }

    private string tba = "TBA";
}
