body {
}

.list-item:nth-child(odd) {
    background: rgba(0,0,0,.4);
}
.list-item:nth-child(even) {
    background: rgba(0,0,0,.6);
}
.btn {
    padding: 1px 10px 1px 10px;
    margin: 3px 0 3px 0;
}
.list-item:hover {
    transform:scale(1.05);
}