@if (@Event.Status != "Default")
{
    <span class="@(Event.Status == "Cancelled" ? "text-danger" : "text-warning") float-end">
        @switch (Event.Status)
        {
            case "ToBeAnnounced":
                eventStatus = "TBA";
                break;
            case "Postponed":
                eventStatus = "Postponed";
                break;
            case "SoldOut":
                eventStatus = "Sold Out";
                break;
            case "Cancelled":
                eventStatus = "Cancelled";
                break;
            case "Completed":
                eventStatus = "Completed";
                break;
        }
        @eventStatus
    </span>
}

@code {
    [Parameter]
    public EventDto Event { get; set; }
    [Parameter]
    public string eventStatus { get; set; }
}