<div class="row list-item align-middle">
    <div class="col-3">
        @Event.EventInfo.EventDate.ToShortDateString()
    </div>
    <div class="col-3">
        @Event.EventInfo.Name
    </div>
    <div class="col-3">
        @if (@Event.Status != "Default")
        {
        <span class="text-warning">@Event.Status</span>
        }
    </div>
    <div class="col-3">
        <button class="btn btn-dark float-end" @onclick="() => EventInfo.InvokeAsync(Event)">
        Info
        </button>
    </div>   
</div>


@code {
        [Parameter]
        public EventDto Event { get; set; }
        [Parameter]
        public EventCallback<EventDto> EventInfo { get; set; }
}
