footer {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--test-dark-dark);
    color: var(--dark-light);
    text-align: center;
}

p {
    margin: 0;
    font-size: .8rem;
}