<footer>
    <div class="footer-bottom">
        <LogoFooter />
        <a href="mailto:yes.youreventservice@gmail.com">Contact us</a>
        <p>Your Event Service bvba - Antwerpsesteenweg 46 - Lier - BTW 9856 965 210</p>
        <div class="payment-methods">
            <img src="images/logo-bancontact-zw.png" alt=""/>
            <img src="images/logo-mc-acc-zw.png" alt=""/>
            <img src="images/visa-zw.png" alt=""/>
            <img src="images/logo-ideal-zw.png" alt=""/>
        </div>
        <p>Your Event Service - &copy @DateTime.Now.Year </p>
    </div>
</footer>

@code {
}