footer {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 3rem;
    background: var(--test-dark-dark);
    color: var(--dark-light);
    text-align: center;
}

p {
    margin: 0;
    font-size: .8rem;
}