.logo {
    margin: 0;
    padding: 0;
    width: 50px;
}

.navbar-brand > img {
    width: 50px;
}

.navbar-container {
    max-width: 80vw;
}

header, nav {
    max-width: 100vw;
    height: 4rem;
}

.bg-dark {
    background: var(--test-dark);
}