<Form onsubmit="OnSubmit">
    <div>
        <InputText></InputText>
    </div>
    <div>
        <InputText></InputText>
    </div>
    <button type="submit"></button>
</Form>

@code {
    //[Parameter]
    //public int MyProperty { get; set; }


    private void OnSubmit()
    {

    }
}
