<form>
    <div>
        <input class="form-control mt-1" placeholder="Email" type="email" @bind="LoginInfo.Email" />
    </div>
    <div>
        <input class="form-control mt-1" placeholder="Password" type="password" @bind="LoginInfo.Password" />
    </div>
    <button class="btn btn-outline-success mt-1" type="button" @onclick="@LogIn">Log In</button>
</form>

@code {
    [Parameter]
    public LoginDto LoginInfo { get; set; }
    [Parameter]
    public EventCallback LogIn { get; set; }
    
}
