i {
    color: var(--white);
    cursor: pointer;
}

::deep .close-btn {
    color: var(--white);
    font-size: 2rem;
}

::deep .modal-header, ::deep .modal-footer{
    border: none;
}

.greeting-wrapper {
    display: flex;
    align-items: center;
}

.greeting {
    color: var(--yellow);
    text-decoration: none;
    margin-right: 10px;
}

.login-logout {
    color: var(--white);
    cursor: pointer;
    margin-left: 20px;
}

.login-logout i {
    margin-right: 5px;
}

::deep input, textarea {
    background-color : var(--dark-light);
    border: none;
}

::deep input:focus, textarea:focus {
    background-color : var(--dark-light);
    color: var(--grey);
    border: none;
}

::deep ::placeholder {
    color: var(--test-dark);
}

::deep .nav-item {
    background: var(--test-dark-light);
}

::deep a, ::deep .nav-link:hover {
    color: var(--test-dark);
}