<EditForm Model="@LoginInfo" OnSubmit="@LogIn">
    <DataAnnotationsValidator />
    <div>
        <InputText  class="form-control mt-1" placeholder="Email" type="email" @bind-Value="@LoginInfo.Email"/>
    </div>
    <div>
        <InputText class="form-control mt-1" placeholder="Password" type="password" @bind-Value="@LoginInfo.Password"/>
    </div>
    <button class="btn btn-outline-success mt-1" @onclick="LogIn">Log In</button>
</EditForm>

@code {
    [Parameter]
    public LoginDto LoginInfo { get; set; }
    [Parameter]
    public EventCallback LogIn { get; set; }
}