label {
    color: var(--grey);
}

.open-register-modal {
    color: var(--light-blue);
    cursor: pointer;
}

.no-account {
    font-size: .8rem;
    padding-top: 10px;
    text-align: center;
}

.error-message {
    color: var(--red);
    margin: 2rem 0;
}