.logo {
    margin: 0;
    padding: 0;
    width: 50px;
}

.navbar-brand > img {
    width: 50px;
}

.navbar-container {
    max-width: 80vw;
}

.bg-darktrans {
    background-color: rgba(0, 0, 0, .75);
}