@*<div class="row">
    <div class="col">
        @priceCategory.Name
    </div>
    <div class="col">
        @priceCategory.Amount
    </div>
    <div class="col">
        @priceCategory.Price
    </div>
</div>*@

@code {
    [Parameter]
    //public PriceCategoryDto priceCategory { get; set; }
}
