<div class="col-md-6 col-lg-4">
    <div class="card">
        <img class="card-img-top" src="@Event.EventInfo.BannerImgUrl" alt="Card image cap">
        <div class="card-body">
            <a href="/EventDetail/@Event.Id"><h5 class="card-title">@Event.EventInfo.Name</h5></a>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public EventDto Event { get; set; }
}
