.card {
    width: 18rem;
    margin: 40px auto;
}

.card-body a {
    text-decoration: none;
    color: var(--dark-dark);
    text-align: center;
    transition: color .1s ease-in-out;
}

.card-body a:hover {
    color: var(--primary-light);
}

.card-img-top {
    height: 150px;
}

h5 {
    font-weight: 300;
}
