
    <div class="col">
        @Ticket.DateOfPurchase.ToShortDateString()
    </div>
    <div class="col">
        -
    </div>
    <div class="col">
        -
    </div>    
    <div class="col">
        @Ticket.EventName
    </div>
    <div class="col">
        @Ticket.VanueName
    </div>    
    


@code {
    [Parameter]
    public TicketDto Ticket { get; set; }

}
